<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
     
   <display-name>MicroWebApp</display-name>
   <servlet>
      <servlet-name>CpuLoad</servlet-name>
      <display-name>CpuLoad</display-name>
      <servlet-class>com.ibm.wsmm.services.CpuLoadServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>IOBound</servlet-name>
      <display-name>IOBound</display-name>
      <servlet-class>com.ibm.wsmm.services.IOBound</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>memBound</servlet-name>
      <display-name>memBound</display-name>
      <servlet-class>com.ibm.wsmm.services.memBound</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>memBoundPerSession</servlet-name>
      <display-name>memBoundPerSession</display-name>
      <servlet-class>com.ibm.wsmm.services.memBoundPerSession</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>CPUBound</servlet-name>
      <display-name>CPUBound</display-name>
      <servlet-class>com.ibm.wsmm.services.CPUBound</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>sleepBound</servlet-name>
      <display-name>sleepBound</display-name>
      <servlet-class>com.ibm.wsmm.services.sleepBound</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>simpleSleep</servlet-name>
      <display-name>simpleSleep</display-name>
      <servlet-class>com.ibm.wsmm.services.simpleSleep</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>CpuAndSleepBound</servlet-name>
      <display-name>CpuAndSleepBound</display-name>
      <servlet-class>com.ibm.wsmm.services.CpuAndSleepBound</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>CpuAndGetBound</servlet-name>
      <display-name>CpuAndGetBound</display-name>
      <servlet-class>com.ibm.wsmm.services.CpuAndGetBound</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>CpuAndEchoBound</servlet-name>
      <display-name>CpuAndEchoBound</display-name>
      <servlet-class>com.ibm.wsmm.services.CpuAndEchoBound</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ResponseFromQuery</servlet-name>
      <display-name>ResponseFromQuery</display-name>
      <servlet-class>com.ibm.ws.xd.servlets.ResponseFromQuery</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>PostEcho</servlet-name>
      <display-name>PostEcho</display-name>
      <servlet-class>com.ibm.ws.xd.servlets.PostEchoServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ServerInfo</servlet-name>
      <display-name>ServerInfo</display-name>
      <servlet-class>com.ibm.ws.xd.servlets.ServerInfoServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>PingSession</servlet-name>
      <display-name>PingSession</display-name>
      <servlet-class>com.ibm.ws.xd.servlets.PingSession</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DeltaClusterXml</servlet-name>
      <display-name>DeltaClusterXml</display-name>
      <servlet-class>com.ibm.ws.xd.servlets.DeltaClusterXml</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SessionTester</servlet-name>
      <display-name>SessionTester</display-name>
      <servlet-class>com.ibm.ws.sessionTester.SessionTester</servlet-class>
   </servlet>   
   <servlet>
      <servlet-name>PingSessionRewrite</servlet-name>
      <display-name>PingSessionRewrite</display-name>
      <servlet-class>com.ibm.ws.xd.servlets.PingSessionRewrite</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>com_ibm_ws_classify_test_RemoteClockService</servlet-name>
   	<servlet-class>com.ibm.ws.classify.test.RemoteClockService</servlet-class>
   	<load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
   	<servlet-name>com_ibm_ws_classify_test_RemoteTimeZoneService</servlet-name>
   	<servlet-class>com.ibm.ws.classify.test.RemoteTimeZoneService</servlet-class>
   	<load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
    <servlet-name>IIOPTestServlet</servlet-name>
    <servlet-class>com.ibm.ws.giop.threadpool.test.IIOPTestServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
   </servlet>
   <servlet>
    <servlet-name>GC</servlet-name>
    <servlet-class>com.ibm.wsmm.services.GC</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CpuLoad</servlet-name>
      <url-pattern>/CpuLoad</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>IOBound</servlet-name>
      <url-pattern>/IOBound</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>memBound</servlet-name>
      <url-pattern>/memBound</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>memBoundPerSession</servlet-name>
      <url-pattern>/memBoundPerSession</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CPUBound</servlet-name>
      <url-pattern>/CPUBound</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>sleepBound</servlet-name>
      <url-pattern>/sleepBound</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>simpleSleep</servlet-name>
      <url-pattern>/simpleSleep</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CpuAndSleepBound</servlet-name>
      <url-pattern>/CpuAndSleepBound</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CpuAndGetBound</servlet-name>
      <url-pattern>/CpuAndGetBound</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CpuAndEchoBound</servlet-name>
      <url-pattern>/CpuAndEchoBound</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>PostEcho</servlet-name>
      <url-pattern>/PostEcho</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ResponseFromQuery</servlet-name>
      <url-pattern>/ResponseFromQuery</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo2</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo3</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo4</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo5</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo6</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo7</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo8</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo9</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo10</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo11</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo12</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo13</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo14</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo15</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo16</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo17</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo18</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo19</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo20</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo21</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo22</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo23</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo24</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo25</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo26</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo27</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo28</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo29</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo30</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo31</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo32</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo33</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo34</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo35</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo36</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo37</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo38</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo39</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo40</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo110</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo111</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo112</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo113</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo114</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo115</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo116</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo117</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo118</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo119</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo120</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo121</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo122</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo123</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo124</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo125</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo126</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo127</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo128</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo129</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo130</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo131</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo132</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo133</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo134</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo135</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo136</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo137</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo138</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo139</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ServerInfo</servlet-name>
      <url-pattern>/ServerInfo140</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>PingSession</servlet-name>
      <url-pattern>/PingSession</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DeltaClusterXml</servlet-name>
      <url-pattern>/DeltaCluster.xml</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SessionTester</servlet-name>
      <url-pattern>/SessionTester</url-pattern>
   </servlet-mapping>   
   <servlet-mapping>
      <servlet-name>PingSessionRewrite</servlet-name>
      <url-pattern>/PingSessionRewrite</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>IIOPTestServlet</servlet-name>
      <url-pattern>/IIOPTestServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>GC</servlet-name>
      <url-pattern>/GC</url-pattern>
   </servlet-mapping>

   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
   <error-page>
       <error-code>404</error-code>
       <location>/my404.jsp</location>
   </error-page>
   <error-page>
       <error-code>503</error-code>
       <location>/error.jsp</location>
   </error-page>
</web-app>

